.css-1ex1afd-MuiTableCell-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.css-yz9k0d-MuiInputBase-input {
  color: white !important;
}

/* 425 */
@media (max-width: 991px) {
  .nmiKeysinnerTable.card-body.w-100.nmiKeysinnerTable{
    width: 500px !important;
  }
}

/* 375 */
@media (max-width: 424px) {
  .plansearch {
    margin-left: 20px !important;
  }
}
/* 320 */
@media (max-width: 374px) {
  .plansearch {
    margin-left: 20px !important;
  }
}
/* 280 */
@media (max-width: 319px) {
  .plan {
    font-size: 19px;
    margin-top: 9px;
  }
  .plansearch {
    margin-left: 20px !important;
  }
  .nmiFormBtn{
    
  }
}
