.notificationCard {
  padding: 4px 0 6px 15px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #063164;
  border-radius: 50%;
  height: 40px;
  width: 43px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #e88c44; 
}

.notificationContent {
  flex: 1;
}

.quotes-notofication .title {
  font-size: 16px;
  color: #063164;
  font-weight: bold;
}

.description {
  margin-top: 5px;
  color: #333;
}

.quoteNumber {
  font-weight: bold;
  color: #e88c44; 
}
.approvequote {
  font-weight: bold;
  color: rgb(8, 159, 87); 
}
.requestquote {
  font-weight: bold;
  color:rgb(255, 51, 198); 
}
.additionalInfo {
  display: block;
  color: #666;
}

.time {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}



/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

/* 768 */
@media (max-width: 991px) {}

/* 576 */
@media (max-width: 767px) {}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {
  .contractNotificationBar{
    font-size: 15px !important;
  }
  .contractNotificationImgCon{
    flex-direction: column !important;
  }
}

/* 280 */
@media (max-width: 319px) {}
