.manage-template {
    margin-bottom: 10px !important;
    font-weight: 700 !important;
}



.settings-menu {
    justify-content: center !important;
}

.div#user-select {
    border: 1px solid red !important;
}

.template-dropdown.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding-right: 32px;
    border: 1px solid #063164 !important;
}




input.form-checkbox {
    position: relative;
    width: 0px;
    margin: 0px 30px;
}

input.form-checkbox::before {
    content: "";
    position: absolute;
    width: 35px;    
    height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    top: 10px;
    left: -23px;
    transition: 0.3s;
    background: #1b8bd726;
}

input.form-checkbox::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    top: 7px;
    left: -32px;
    background: #ffffff;
    border: 1px solid;
    cursor: pointer;
    transition: 0.3s;

}

input.form-checkbox:checked::after {
    left: 0px;
    background: #063164;
}

.preview-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}



/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

@media (max-width: 1199px) {
        .manage-account-bottom{
            margin-bottom: 0px !important;
        }
        .template-dropdown-select{
            width:100% !important;
        }
}


/* 768 */
@media (max-width: 991px) {}

/* 576 */
@media (max-width: 767px) {}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {}

/* 280 */
@media (max-width: 319px) {}
