/* 1680 */
@media (max-width: 1700px) {
}

/* 1500 */
@media (max-width: 1680px) {
}

/* 1440 */
@media (max-width: 1449px) {
}

/* 1280 */
@media (max-width: 1439px) {
}

/* 992 */
@media (max-width: 1279px) {
}

/* 768 */
@media (max-width: 991px) {
}

/* 576 */
@media (max-width: 767px) {
  .cost_input.MuiFormControl-root.MuiTextField-root.mb-0.border-blue-color.totalNumber.css-odsttg-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
  }

  .internotesAttachments {
    margin-bottom: 20px !important;
  }

  .price_padding_re {
    padding: 0px !important;
  }
  .quoteJobTitle_number {
    margin-bottom: 0px !important;
  }

  .QUoteCHangeIcon {
    margin-left: 0px !important;
  }

  .createDateQUoteDetail {
    width: 100% !important;
  }

  .address_quoteDetail {
    flex-direction: column !important;
  }

  .QuoteDetailAddress {
    margin-top: 17px !important;
  }

  .createDates {
    margin-top: 0.3rem !important;
    margin-left: 0px !important;
  }
  .quoteCustomerSelect {
    font-size: 20px !important;
  }
}

/* 525 */
@media (max-width: 575px) {
  .quote_cancel_btn {
    width: 50% !important;
  }

  .internotesAttachments {
    margin-bottom: 20px !important;
  }

  .quoteProperty_detail {
    flex-direction: column !important;
  }

  .addlineItemProduct {
    margin-top: 10px !important;
  }

  .productTotalSub {
    margin-top: 17px !important;
  }
  .quoteUseName{
    font-size: 18px !important  ;
  }
}

/* 480 */
@media (max-width: 524px) {
  .moreactionQUoteBtnWidth {
    width: 100% !important;
  }

  .emailEditAction_btn {
    flex-direction: column !important;
  }
}

/* 425 */
@media (max-width: 479px) {
}

/* 375 */
@media (max-width: 424px) {
  .quote_cancel_btn {
    width: 100% !important;
  }

  .quoteUpdateCancelBtnSave {
    flex-direction: column !important;
  }

  .updateQUote_dropdown {
    width: 100% !important;
  }

  .addQUuoteDiscount {
    flex-direction: column !important;
  }

  .addDiscountText {
    margin-left: auto !important;
  }
  .btnFlexQuote {
    flex-direction: column !important;
  }
  .cancelQuoteBtn {
    width: 100% !important;
  }
}

/* 320 */
@media (max-width: 374px) {
  .quoteFor_customerName {
    flex-direction: column;
    align-items: start !important;
  }

  .quoteProperty_detail {
    flex-direction: column;
  }

  .quoteDetauils,
  .updateQUote_dropdown {
    width: 100% !important;
  }

  .QuoteForCustomerName {
    font-size: 20px !important;
    padding-left: 0px !important;
  }

  .quoteNumberDoneBtn {
    flex-direction: column !important;
  }

  .QUoteCHangeIcon {
    width: 100% !important;
    margin-bottom: 0px !important;
  }

  .quoteNUmberTOp {
    margin-top: 0.9rem !important;
    margin-bottom: 0px !important;
  }

  .quoteNumberInQuote {
    margin-left: auto !important;
  }

  .totalQuoteSection {
    gap: 10px !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .addlineItemProduct {
    margin-top: 20px !important;
  }

  .productTotalSub {
    margin-top: 25px !important;
  }
}



/* .css-12o0ghv-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root {
  height: 56px !important;
} */