.visit-section {
  margin-bottom: 20px;
}

.visit-card-container {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.invoice-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.appointment-status-section {
  display: flex;
  flex-direction: column;
}

.appointment-status-header {
  text-align: center;
  color: #063164;
  font-weight: bold;
  font-size: unset;
  background-color: #F8D5B9;
  border: 1px solid #063164;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 10px;
  width: 30%;
}
.map-icon{
  margin-bottom: auto;
  
}

/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

/* 768 */
@media (max-width: 991px) {
  .customerAppointmentAppo,.customerAppointmentupco,.customerConfirmAppointment{
    width: 100% !important;
  }
  .customerAppointmentTable{
    font-size: 17px !important;
  }
}

/* 576 */
@media (max-width: 767px) {
  .appoitmentListUpPast{
    flex-direction: column !important;
  }
  .appointment-status-header{
    margin-bottom: 12px !important;
  }
}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {
  .customerAppointmnerConfirmTable{
    font-size: 14px !important;
  }
  .appoinment-on{
    flex-direction: column !important;
  }
  .appoinment-on-date{
    margin-right: auto !important;
  }
  .day-appoinment{
    margin-left: 13% !important;

    margin-right: auto !important;
  }
}

/* 320 */
@media (max-width: 374px) {}

/* 280 */
@media (max-width: 319px) {}
