/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

/* 768 */
@media (max-width: 991px) {}

/* 576 */
@media (max-width: 767px) {}

/* 525 */
@media (max-width: 575px) {
    .newPropertyForUser{
        flex-direction: column !important   ;
    }
    .propertyForUserNameHere{
        margin-right: auto !important;
    }
}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {
    .cancelPropertyModel{
        /* flex-direction: column !important; */
    }
    .cancelProperty.button.footer-buttons.outline-button-blue-color.backgroundWhiteBtn.btn.btn-secondary {
        width: 100% !important;
    }
}

/* 320 */
@media (max-width: 374px) {
    .cancelPropertyModel{
        gap: 5px !important;
    }
}

/* 280 */
@media (max-width: 319px) {}
