.job .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #063164 !important;
  color: red !important;
}

.job .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: #063164 !important;
  /* border: none !important; */
  color: #063164 !important;
}

.main-tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: transparent !important;
  color: #063164 !important;
  border-bottom: 3px solid #063164 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  text-decoration: none !important;
}

/* .nav-link:focus,
.nav-link:hover {
  color: #063164;
  border: none !important;
} */

.job .nav-tabs {
  border-bottom: 1px solid #063164 !important;
}

.nav-tabs {
  --bs-nav-tabs-border-width: none !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.time-input-container {
  position: relative;
  display: inline-block;
}

.time-input-container .placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #063164;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s;
}

.client .nav-link:focus,
.nav-link:hover {
  color: #063164 !important;
}

.time-input-container input:focus+.placeholder,
.time-input-container input:not(:placeholder-shown)+.placeholder {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
}

.tag {
  display: inline-flex;
  align-items: center;
  background-color: #e9eef3;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #3a4a58;
}

.tag-text {
  margin-right: 10px;
}

.tag-close {
  background-color: #063164;
  border: none;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
}

.tag-close:hover {
  background-color: #4d6582;
}

.contract-sub {
  margin-left: 90px !important;
}

.rbc-btn-group>button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: none !important;
}

/* 1680 */
@media (max-width: 1700px) {
  .rbc-btn-group {
    display: ruby !important;
    white-space: break-spaces !important;
  }
}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {
  .quotes-add-sec {
    display: block !important;
  }

  .firstt-tab-cal {
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: 1500px !important;
    overflow-x: auto !important;
  }

  .quotes-add-sec-two {
    width: 100% !important;
  }

  .quotes-add-sec-one {
    width: 80% !important;
  }

  .name-cotract {
    width: auto !important;
  }

  .contract {
    font-size: 12px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .time-section {
    width: 50%;
  }


  .first-tab {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .team-main {
    width: 100%;
  }

  .start-end-date {
    flex-direction: column !important;
  }
}

/* 768 */
@media (max-width: 991px) {
  .calander-main {
    flex-direction: column;
  }

  .first-tab {
    width: 100%;
  }

  .firstt-tab {
    width: 100%;
  }

  .team-main {
    flex-direction: column;
  }

  .team-card {
    width: 100%;
  }

  .assignbtn {
    display: flex;
    justify-content: end;
  }

  .assigndrop {
    margin-top: 50px !important;
  }

  .rbc-calendar {
    margin-top: 10px !important;
  }

  .rbc-calendar {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
  }
}

/* 576 */
@media (max-width: 767px) {
  .client-main {
    flex-direction: column;
  }

  .date {
    margin-bottom: 25px !important;
  }

  .team-main {
    width: 100%;
  }

  .toggle-button {
    width: 100% !important;
  }

  .oneOffContrctForHide {
    width: 50% !important;
  }

  .recuringForHideCalDn {
    width: 50% !important;
  }
}

/* 525 */
@media (max-width: 575px) {
  .button-responsive {
    flex-direction: column;
  }

  .mailHeaderToSet {
    font-size: 15px !important;
  }

  .sec-button-section {
    margin-top: 10px;
  }

  .quotes-add-sec-two {
    /* display: block !important;
        width: 200% !important; */
    width: 100%;
    flex-direction: column;
  }

  .Qty {
    /* column: 100px; */
    width: 100% !important;
    margin-top: 25px !important;
  }

  .qty-first {
    margin-top: 0 !important;
    width: 100% !important;
  }

  .quotes-add-sec-one {
    width: 100% !important;
  }

  .totals {
    margin-top: 0 !important;
  }

  .line-items-total {
    font-size: 14px;
    margin-top: 8px;
  }

  .newlineitem {
    margin-top: 18px !important;
    margin-left: -9px !important;
  }
}

@media (max-width: 480px) {
  .ButtomWithN {
    width: 100% !important;
  }

  .yesSnedmailQuote {
    width: 100% !important;
  }
}

/* 480 */
@media (max-width: 524px) {
  .username {
    font-size: 25px !important;
  }

  .contract-for {
    font-size: 16px !important;
  }

  .line-items-total {
    font-size: 14px;
    margin-top: 8px;
  }

  .newlineitem {
    margin-top: 28px !important;
  }

  .contract-main-first {
    flex-direction: column;
  }

  .contract-main-first .col-lg-9 .col-8 {
    width: 100% !important;
  }

  .contract-main-first .col-lg-3 {
    width: 100% !important;
  }
}

/* 425 */
@media (max-width: 479px) {
  .address {
    overflow: auto;
  }

  .addnewline {
    order: 2 !important;
  }

  .newlineitem {
    display: block !important;
  }

  .contrac {
    font-size: 15px;
    margin-top: 10px;
  }

  .line-items-total {
    font-size: 14px;
    margin-top: 8px;
  }

  .newlineitem {
    margin-top: 28px !important;
  }
}

/* 375 */
@media (max-width: 424px) {
  .AddCustomField {
    font-size: 12px !important;
  }

  .on-off-contract {
    font-size: 12px !important;
    height: 100% !important;
  }

  .recurring {
    font-size: 12px !important;
  }

  .toggle-button-nav {
    width: 285px !important;
  }

  .contrac {
    font-size: 15px;
    margin-top: 10px;
  }

  .contractsearch {
    margin-left: 20px;
  }

  .line-items-total {
    font-size: 14px;
    margin-top: 8px;
  }

  .newlineitem {
    margin-top: 28px !important;
  }
}

/* 320 */
@media (max-width: 374px) {
  .sec-button-section {
    flex-direction: column;
  }

  .AddCustomField {
    font-size: 10px !important;
  }

  .hide-calendar {
    font-size: 8px !important;
  }

  .quotes-add-sec-two {
    display: block !important;
    width: 300% !important;
    columns: 1;
  }

  .Qty {
    column: 100px;
    width: 30% !important;
  }

  .assigndrop {
    width: 200px !important;
  }

  .contrac {
    font-size: 15px;
    margin-top: 10px;
  }

  .contractsearch {
    margin-left: 20px;
  }

  .line-items-total {
    font-size: 14px;
    margin-top: 8px;
  }

  .newlineitem {
    margin-top: 28px !important;
  }

  .Contract-details {
    margin-top: 60px !important;
  }

  .change-content {
    margin-top: 60px !important;
  }

  .back-button {
    padding: 6px !important;
  }

  .start-end-date {
    flex-direction: column;
    margin-bottom: 15px !important;
  }

  .start-date {
    width: 100% !important;
  }

  .end-date {
    width: 100% !important;
    margin-top: 11px !important;
  }

  .contract {
    font-size: 12px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .quoteResponse_quoteNumber {
    flex-direction: column !important;
  }

  .responseBoxQuote {
    margin-right: auto !important;
  }

  .quoteCopyLink {
    width: 18px !important;
  }

  .quotePersonName {
    font-size: 13px !important;
  }

  .oneOffContrctForHide {
    width: 100% !important;
    border-top-right-radius: 11px !important;
    border-bottom-right-radius: 11px !important;
  }

  .recuringForHideCalDn {
    width: 100% !important;
  }

  .quoteNumberInQuote {
    margin-right: 0px !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .on-off-contract {
    font-size: 8px !important;
    height: 100% !important;
  }

  .recurring {
    font-size: 8px !important;
  }

  .toggle-button-nav {
    width: 220px !important;
  }

  .assigndrop {
    width: 200px !important;
  }

  .contrac {
    font-size: 15px;
    margin-top: 10px;
  }

  .contractsearch {
    margin-left: 20px;
  }

  .line-items-total {
    font-size: 14px;
    margin-top: 8px;
  }

  .newlineitem {
    margin-top: 28px !important;
    /* margin-bottom: 15px !important; */
  }

  .Contract-details {
    margin-top: 60px !important;
  }

  .change-content {
    margin-top: 60px !important;
  }

  .back-button {
    padding: 6px !important;
  }

  .start-end-date {
    flex-direction: column;
    margin-bottom: 20px !important;
  }

  .start-date {
    width: 100% !important;
  }

  .end-date {
    width: 100% !important;
    margin-top: 40px !important;
  }
}

.file-upload {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.file-upload span {
  font-size: 10px !important;
}

.description .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 6.5px 14px !important;
  padding-top: 0 !important;
}

.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: none !important;
  border-radius: 5px;
}

/* label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: none !important;
  border-radius: 5px;
  height: 29px;
} */

.rbc-event,
.rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  /* background-color: #063164 !important; */
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.job-description .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  z-index: 0 !important;
}

.Contract-table-detail tr td {
  font-size: 12px;
  font-weight: 600;
}

.visit tr td label {
  font-weight: 600;
  font-size: 12px;
}

.visit tr td {
  font-weight: 500;
  font-size: 14px;
}

.time-compo .css-10o2lyd-MuiStack-root>.MuiTextField-root,
.css-10o2lyd-MuiStack-root>.MuiPickersTextField-root {
  min-width: 100%;
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */