.overviewTableHeadFOnt{
    font-size: 15px !important;
}
.overviewDataHere{
    font-size: 14px !important;
}
.boxScrollHEre{
    max-height: 200px  !important;
    overflow-y: auto !important;
}
.dataCollapsHere{
    position: sticky !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
}


/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {
    .flexForDetail{
        flex-direction: column !important;
    }
}

/* 768 */
@media (max-width: 991px) {
    .costomerUserName{
        font-size: 20px !important;
    }
    .customerSevenFlex{
        /* flex-direction: column !important; */
        width: 100% !important;
    }
}

/* 576 */
@media (max-width: 767px) {
    .customerSevenFlex{
        flex-direction: column !important;
        width: 100% !important;
    }
    /* .customerAddMOdel{
        width: 98% !important;
    } */
    .CustomerRightRemove{
        padding-right: 0px !important;
    }
    .widthReccuringBtn{
        width: 100% !important;
    }
    .customer-header{
        flex-direction: column !important;
        align-items: start !important;
    }
    .customer-detail-sec{
        margin-left: 8px !important;
        margin-top: 10px;
    }

}

/* 525 */
@media (max-width: 575px) {

  .scrollForOverview{
    overflow-x: auto !important;
  }
  .property_addNew {
    overflow-x: auto !important;
    min-width: 600px !important;
  }
  .propertyAddBoxScroll{
    overflow-x: auto !important;
  }
  .customersAddCustomers{
    flex-direction: column !important;
  }
  .tableNameHead{
    margin-right: auto !important;
  }
  .searchBarOfTable{
    margin-left: auto !important;
  }
  /* .customerTopHere{
    margin-top: 30px !important;
  } */
  .saveBrnGap{
    gap: 10px !important;
  }
}

/* 480 */
@media (max-width: 524px) {
    .customerList_searchbar{
        flex-direction: column;
    }
    .customerList_head{
        margin-right: auto;
    }
    .customer_searchBar{
        margin-left: auto;
        /* width: 70%; */
    }
    .edit_customer_function{
        font-size: 20px !important; 
    }
    .nevigate_before{
        width: 39px;
        height: 30px;
    }
}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {
    /* .property_addNew{
        flex-direction: column;
    } */
    .property_tag{
        margin-right: auto;
    }
    .new_pro{
        margin-left: auto;
        width: 66% !important;
        
    }
    .billing_history{
        font-size: 20px;
    }
    .customer_navbar{
        flex-direction: column;
    }
    .customerOverviewNav{
        flex-direction: column !important;
    }
    /* .plusNewPropertyToAddPPro{
        margin-right: auto !important ;
    } */
    .btnBtnToDivProperty{
        padding: 3px 10px;
         font-size: 14px;
          margin-left: auto;
           justify-content: end;
            display: flex; 
            white-space: nowrap;
            width: 100% !important;
    }
    .updateSaveCustomerBtm{
        width: 100% !important;
    }
    .customerScrollHorizontal{
        width: 100% !important;
        min-width: 600px !important;
        overflow-x: auto !important;
    }
    /* .allDetailPageScroll{
        overflow-x: auto !important;
    } */
     .mailConfigurationBox{
        min-width: 353px !important;
     }
     .justify-contentRemove{
        justify-content: start !important;
     }
}

/* 320 */
@media (max-width: 374px) {
    .customerAdd_btn{
            padding: 10px !important;
     width: 49% !important;
    }
    .nevigate_before{
        width: 40px;
        height: 33px;
    }
    .edit_customer_function{
        font-size: 26px;
    }
    .cancel_updateCustomer{
        width: 62% !important;
        height: 34px !important;
    }
    .add_new_property_card{
        width: 100%  !important;
    }
    .contact_info_histort{
        width: 100% !important;
    }
    .mailSendConfiguration{
        flex-direction: column !important;
    }
    .mailSendYesComonent{
        margin-top: 10px !important;
        margin-left: 0px !important;
        width: 100% !important;
    }
    .updateSaveCustomerBtm{
        width: 100% !important;
        font-size: 15px !important;
    }
    .add_new_pxroperty_card{
        width: 100% !important;
    }
    .BlueAndWhiteBtmFlex{
        flex-direction: column !important;
    }
    /* .CancelBtnPerfect.button.footer-buttons.outline-button-blue-color.btn.btn-secondary {
        width: 100%;
    } */
    .widthBtnForCustomer{
        width: 100px !important;
    }
    .nevigate_before.button.text-capitalize.bg-blue-color.text-white-color.backgroundBlurBtn.btn.btn-secondary{
        width: 20% !important;
    }
    .chargeModelBt{
        flex-direction: column !important;
        gap: 10px !important;
    }
    .recurringPaymentBtn{
        flex-direction: column !important;
        gap: 10px !important;
    }
    .configureReccuringBtnRight{
        margin-right: 0px !important;
        font-size: 14px !important;
    }
}

/* 280 */
@media (max-width: 319px) {
    .customer_addCustomer_div{
        flex-direction: column;
    }
    .customer_para{
        margin-right: auto;
    }
    .customerAdd_btn{
        padding: 5px !important;
        width: 60% !important;
        margin-left: auto;
}
/* .customerTopHere{
    margin-top: 0px !important;
} */
}
    










/* .text-blue-color {
    color: blue; /* Default text color for inactive tabs */
  /* } */ */
  
  .nav-link {
    padding: 0.5rem 1rem !important; /* Optional spacing */
    border-bottom: 2px solid red !important; /* Default border */
    background: transparent !important; /* Ensure no background */
  }
  
  .nav-link.active {
    border-bottom: 2px solid red !important; /* Active link red border */
    color: blue !important; /* Explicitly keep text blue */
  }
  