.invoice-header {
    color: #063164;
    font-weight: 700;
    font-size: 30px;
  }
  .invoiceCustomerPayment{
    margin-top: 20px !important;
    background-color: #063164 !important;
    color: white !important;
  }
  .invoice-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .widthGivenHere{
    width: 100% !important;
  }
  .invoice-status-section {
    display: flex;
    flex-direction: column;
  }
  
  .invoice-status-header {
    text-align: center;
    color: #063164;
    font-weight: bold;
    background-color: #F8D5B9;
    border: 1px solid #063164;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px;
    width: 30%;
  }
  .invoice-status-header-app {
    text-align: center;
    color: #063164;
    font-weight: bold;
    background-color: #F8D5B9;
    border: 1px solid #063164;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px;
    width: 15%;
  }
  
  .invoice-status-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .invoice-card {
    /* width: 100%; */
    border: 1px solid #063164;
  }
  
  .invoice-card-header {
    color: white !important;
    font-size: 23px;
    font-weight: 500;
    background-color: #e88c44 !important;
    border-bottom: 1px solid #063164;
  }
  
  .invoice-card-text {
    display: flex;
    align-items: center;
  }
  
  .invoice-icon {
    margin-right: 10px;
  }
  
  .invoice-card-footer {
    display: flex;
    justify-content: end;
    border-top: 1px solid #063164;
    gap: 30px;
  }
  





  /* Default styles (for larger screens) */
.invoice-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.invoice-status-header {
  width: 30%;
}

.invoice-status-cards {
  display: flex;
  flex-direction: column;
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
  .invoice-grid {
    grid-template-columns: 1fr;
  }
  
  .invoice-status-header {
    width: 100%;
  }
}

/* Small screens (mobile devices) */
@media (max-width: 480px) {
  .invoice-header {
    font-size: 24px;
  }
  
  .invoice-status-header {
    font-size: 16px;
    padding: 5px;
  }
  
  .invoice-card-header {
    font-size: 18px;
  }
  
  .invoice-card-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
