
@media (max-width: 355px) {

    .uploadfileslable{
        display: grid !important;
    }
}
@media (max-width: 767px){
    .fileUpload{
        margin-top: 6px !important;
        margin-right: -8px !important;
        margin-left: -8px !important;
    }
}
@media (max-width: 319px){
    .fileUpload{
        margin-top: 37px  !important;
    }
}
/* 576 */
@media (max-width: 767px) {
     .productDragFole{
        margin-top: 37px !important;
     }
  }

/* 1680 */
@media (max-width: 1700px) {
    .rbc-btn-group {
      display: ruby !important;
      white-space: break-spaces !important;
    }
  }
  
  /* 1500 */
  @media (max-width: 1680px) {
  }
  
  /* 1440 */
  @media (max-width: 1449px) {
  }
  
  /* 1280 */
  @media (max-width: 1439px) {
  }
  
  /* 992 */
  @media (max-width: 1279px) {
    .display-file-main{
        overflow-x: scroll;
    }
  }
  
  /* 768 */
  @media (max-width: 991px) {}
  
  /* 576 */
  @media (max-width: 767px) {}
  
  /* 525 */
  @media (max-width: 575px) {}
  
  /* 480 */
  @media (max-width: 524px) {
  }
  
  /* 425 */
  @media (max-width: 479px) {}
  
  /* 375 */
  @media (max-width: 424px) {
    .addQUoteFileSelect{
        flex-direction: column !important;
        display: flex !important;
    }
  }
  
  /* 320 */
  @media (max-width: 374px) {}
  
  /* 280 */
  @media (max-width: 319px) {}
  