
.setting-sidebar-main {
  height: 100vh;
  margin-top: -30px;
  width: 100%;
  transition: margin-top 0.3s ease-in-out;
}

.scrolled .setting-sidebar-main {
  margin-top: 0;
}

.sidebar-link-setting{
    color: #4F963B !important;
    border-bottom: none;
    text-decoration: none !important;
}

/* 1680 */
@media (max-width: 1700px) {
}

/* 1500 */
@media (max-width: 1680px) {
}

/* 1440 */
@media (max-width: 1449px) {
}

/* 1280 */
@media (max-width: 1439px) {
}

/* 992 */
@media (max-width: 1279px) {
}
/* 992 */
@media (max-width: 1228px) {
 
}

/* 768 */
@media (max-width: 991px) {
  .hiren{
    display: none !important;
  }
}

/* 576 */
@media (max-width: 767px) {
   
}

/* 525 */
@media (max-width: 575px) {
}

/* 480 */
@media (max-width: 524px) {
}

/* 425 */
@media (max-width: 479px) {
}

/* 375 */
@media (max-width: 424px) {
}

/* 320 */
@media (max-width: 374px) {
  
}

/* 280 */
@media (max-width: 319px) {
}
