.all-permission {
  margin-bottom: 6px;
}

th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.bg-orange-color.text-white-color.css-1ygcj2i-MuiTableCell-root {
  white-space: nowrap;
}
.text-justify{
  width: 95%;
}
.permission-row{
  border-right: 1px solid rgba(6, 49, 100, 30%);
  /* width: 31.5%; */
}

/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {
  .permission-row{
    border-right: none !important;
    
  }
  .contrcctInvoiceFlex{
    flex-direction: column !important;
  }
  .whiteSpaceRap{
    white-space: nowrap !important;
  }
}

/* 768 */
@media (max-width: 991px) {
  .client-check {
    flex-direction: column !important;
    margin-top: 12PX;
  }

  .main-chek {
    width: 100% !important;
  }

  .text-box {
    padding-right: 0 !important;
    white-space: nowrap;
  }
  .presetPermissionLevel{
    flex-direction: column !important;
  }
  .permissionTitleInput {
    margin-bottom: 0;
  }
  .presetLevelDesc{
    margin: 0 !important;
  }
  .flexColumnForScheduleAll{
    flex-direction: column !important;
  }
  .expenseSecondLine{
    margin-left: 0px !important;
  }
  .removeMarginTOp{
   margin-top: 2px !important;
  }
  .giveMarginTop{
    margin-top: 10px !important;
  }
}
.tr.MuiTableRow-root.MuiTableRow-head.css-1q1u3t4-MuiTableRow-root{
  white-space: nowrap;
}

/* 576 */
@media (max-width: 767px) {
  .notes {
    flex-direction: column;
  }

  .schedule {
    flex-direction: column;
  }

  .Expenses {
    flex-direction: column;
  }

  .sec-check {
    margin-left: 0 !important;
  }

  .permission-box {
    padding-left: 10px !important;
  }

  .permissionTitleInput {
    width: 100% !important;
    margin-bottom: 0 !important;
  }

  .presetPermissionLevel {
    flex-direction: column !important;
    margin-bottom: 0;
    width: 100% !important;
  }
}

/* 525 */
@media (max-width: 575px) {
  .permission-search {
    margin-left: auto !important;
  }

  .shcedulePermission {
    font-size: 12px !important;
  }
  .presetLevelDesc{
    margin-top: 5px !important;
  }
}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {
  .request-check {
    flex-direction: column;
  }
}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {

  /* .text-capitalize{
    width: 15% !important;
  } */
  .save-client-button {
    width: 62% !important;
    font-size: 12px !important;
  }

  .addproductbutton {
    height: 35px !important;
    width: 150px !important;
  }

  .customerSaveCancelBtn {
    width: 100% !important;
  }

  .permissionCancelBtnSet {
    width: 100% !important;
  }
  .navigatePresetLevel{
    width: 60px !important;
  }
  .permissionbtnHere{
    gap: 10px !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .presetLevelDesc{
    margin-top: 0px !important;
  }
}