body{
    background-color: #fff !important;
}



/* 768 */
@media (max-width: 1980px) {
    .navbar-setting{
        display: none !important;
    }
}
/* 1680 */
@media (max-width: 1700px) {
    .navbar-setting{
        display: none !important;
    }
    
}


/* 1500 */
@media (max-width: 1680px) {
    
}

/* 1440 */
@media (max-width: 1449px) {
    
}

/* 1280 */
@media (max-width: 1439px) {

}

/* 992 */
@media (max-width: 1279px) {
   
    .first-section{
        width: 100% !important;
    }
    .new-image{
        display: none;
    }
}
/* 992 */
@media (max-width: 1228px) {}

/* 768 */
@media (max-width: 991px) {
    .text-boxes{
        margin-bottom: 17px;
    }
    .image-sectionn{
        margin-bottom: 50px;
    }
}
/* 576 */
@media (max-width: 767px) {}

/* 525 */
@media (max-width: 575px) {
}

/* 480 */
@media (max-width: 524px) {
}

/* 425 */
@media (max-width: 479px) {
}

/* 375 */
@media (max-width: 424px) {
}

/* 320 */
@media (max-width: 374px) {
    .text-boxes{
        margin-bottom: 35px !important;
    }
    .image-sectionn{
        margin-bottom: 50px;
    }
}

/* 280 */
@media (max-width: 319px) {
    .text-boxes{
        margin-bottom: 35px !important;
    }
    .image-sectionn{
        margin-bottom: 50px;
    }
}
