.user-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: none;
  background: none;
}

.user-table th {
  background-color: #e88c44;
  color: #fff !important;
  height: 30px;
  font-weight: 500;
}

.initials-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #063164;
  color: #fff;
  font-weight: 400;
}

.role {
  font-size: 0.8em;
  color: #6c757d;
}

.action-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active-users {
  background-color: #e88c44;
  color: white;
  padding: 8px 16px;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 45px;
  text-align: center;
  justify-content: center;
}

.count {
  font-weight: bold;
  font-size: 16px;
}

.total {
  font-weight: bold;
}

.navbar-setting {
  z-index: 10;
}

/* .dropdown {
  z-index: 1000;
} */

.dropdowntoggle {
  display: none !important;
}

.responsive-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.responsive-container .w-50 {
  flex: 1;
  min-width: 0;
}

/* 1680 */
@media (max-width: 1700px) {}

@media (min-width: 1980px) {
  .dropdowntoggle {
    display: none !important;
  }

  .menus.dropdown {
    display: none;
  }
}

/* 1500 */
@media (max-width: 1680px) {
  .table-x {
    overflowx: hidden !important;
  }

  .user-table {
    overflow: auto;
  }
}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {
  .t-head {
    width: 100%;
  }

  .main-table-sectoion {
    flex-direction: column;
  }

  .activeusers {
    width: 100%;
  }
}

/* 768 */
@media (max-width: 991px) {
  .divider-manageteam {
    display: none !important;
  }

  .activeusers {
    margin-top: 20px !important;
  }

  .dropdowntoggle {
    display: block !important;
  }

  .responsive-container {
    flex-direction: column;
  }

  .sub-div {
    width: 100% !important;
  }

  .pass-word {
    margin-top: -20px !important
  }
  .subSettingLine {
    width: 100% !important;
  }
}

/* 576 */
@media (max-width: 767px) {
  .full-name {
    margin-bottom: 10px !important;
  }

  .e-mail {
    margin-bottom: 10px !important;
  }

  .mobile-number {
    margin-bottom: 10px !important;
  }

  .street-adress {
    margin-bottom: 10px !important;
  }

  .city {
    margin-bottom: 10px !important;
  }

  .labor-top {
    margin-top: 2px !important;
  }

  .cist {
    flex-direction: column !important;
    width: 100% !important;
  }

  .responsive-container {
    flex-direction: column;
  }
  .sub-div {
    width: 100% !important;
  }

  .pass-word {
    margin-top: 20px !important
  }
.subSettingLine{
  border-left: none !important;
  width: 100%;
  padding-left: 0px !important;
}
.personalInfoMation{
  flex-direction: column !important;
}
.infoInputBoxesWidth.MuiGrid-root.w-50.sub-Grid.infoInputBoxesWidth.css-vj1n65-MuiGrid-root{
  width: 100% !important;
  margin-top: 0 !important;
}
.personalLaborInput.MuiFormControl-root.MuiTextField-root.text-blue-color.w-100.m-0.mb-3.css-12o0ghv-MuiFormControl-root-MuiTextField-root{
  margin-top: 20px !important;
}
}


/* 525 */
@media (max-width: 575px) {
  .page-heading {
    font-size: 22px !important;
  }

  .adduserbtn {
    font-size: 14px !important;
  }

  .street-adress {
    margin-top: 30px !important;
  }
  .adminAddUser{
    font-size: 20px !important;
  }
  .adminUploadImage{
    width: 30px !important;
    height: 30px !important;
  }
  .uploadImageHeretxt{
    margin-top: 0px !important;
    padding: 0px !important;
  }
  .adminPermissionHead{
    font-size: 17px !important;
  }
  .permissionPrefered{
    font-size: 12px !important;
  }
  .permissionTitleTag{
    font-size: 12px !important;
  }
  .checkBoxPermission{
    height: 12px !important;
    width: 12px !important;
  }
  .adduserLaborCost{
    font-size: 12px !important;
    margin: 0 !important;
  }
  /* .editScheduleModelBox{
    justify-content: start !important;
  } */
}

@media (max-width: 560px) {
  .ctyfex {
    display: flex;
    flex-direction: column;
  }

  .zipconuntry {
    width: 100% !important;
    margin-bottom: -5px !important;
  }

}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {
  .t-head {
    overflow: auto;
  }
}

/* 375 */
@media (max-width: 424px) {
  /* .city {} */
  .manageTeamTimeScheduleFlex{
    /* flex-direction: column  !important; */
    flex-direction: column-reverse !important;
    overflow-x: auto !important;
  }
  .editBtnRightSide{
    margin-right: auto !important;
  }
}

@media (max-width: 560px) {
  .heading1 {
    font-size: 18px !important;
  }

  .text1 {
    font-size: 14px;
  }

  .flexDirection {
    flex-direction: column !important;
    width: 100% !important;
  }

  .city-state {
    width: 100% !important;
  }

  .zip-country {
    width: 100% !important;
  }

  .labor {
    margin-top: 36px !important;
  }

  .btn-upload {
    margin-top: 0px !important;
    font-size: 11px !important;
  }

  .person-info {
    font-size: 22px !important;
  }

  .zip {
    flex-direction: column !important;
    margin-top: 40px !important;
  }

  .city {
    flex-direction: column !important;
    gap: 0px !important;
    margin-bottom: 0px !important;
  }

  .labor-top {
    margin-top: 2px !important;
  }

  .zip {
    margin-top: 5px !important;
  }

  .sta_top {
    margin-top: -3px !important;
  }

  .pass-word {
    margin-top: -25px !important
  }
  .manageTeamAddWorker{
    flex-direction: column !important;
  }
  .addWorkerUser{
    width: 85% !important;
  padding: 7px !important;
  }
  .phoneBtn {
    margin-bottom: 0 !important;
  }
}

/* 320 */
@media (max-width: 374px) {
  .heading1 {
    font-size: 18px !important;
  }

  .text1 {
    font-size: 14px;
  }

  .flexDirection {
    flex-direction: column !important;
    width: 100% !important;
  }

  .city-state {
    width: 100% !important;
  }

  .zip-country {
    width: 100% !important;
  }

  .btn-upload {
    margin-top: 0px !important;
    font-size: 11px !important;
  }

  .person-info {
    font-size: 22px !important;
  }
.editScheduleModelBox{
  gap: 10px !important;
}
.phoneBtn {
  margin-bottom: 0 !important;
}

}

/* 280 */
@media (max-width: 319px) {
  .add-user {
    font-size: 12px !important;
  }

  .page-heading {
    font-size: 20px !important;
  }

  .flexDirection {
    flex-direction: column !important;
    width: 100% !important;
  }

  .city-state {
    width: 100% !important;
  }

  .zip-country {
    width: 100% !important;
  }

  .person-info {
    font-size: 20px !important;
  }

  .btn-upload {
    margin-top: 0px !important;
    font-size: 10px !important;
  }

  .labor-top {
    margin-top: 2px !important;
  }

  .city {
    margin-bottom: 0 !important;
  }

  .flexDirection {
    gap: 10px !important;
  }

  .street-adress {
    margin-bottom: 0px !important;
  }
  .personalLaborInput.MuiFormControl-root.MuiTextField-root.text-blue-color.w-100.m-0.mb-3.css-12o0ghv-MuiFormControl-root-MuiTextField-root{
    margin-top: 30px !important;
  }
}

.t-head .table thead th {
  padding: 0.5rem 0.5rem;
  color: white !important;
}


.worker-button {
  border-radius: 20px !important;
}


@media (pointer: fine) {
  .css-jv54yp-MuiList-root-MuiMultiSectionDigitalClockSection-root:hover {
    overflow-y: auto !important;
    scrollbar-width: none !important;
  }
}

@media (pointer: fine) {
  .css-jv54yp-MuiList-root-MuiMultiSectionDigitalClockSection-root:hover {
    overflow-y: auto !important;
    scrollbar-width: none !important;
  }
}