.editor-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#editor-toolbar {
  background-color: #f0f0f0;
  border: 1px solid #063164;  
  border-bottom: 0;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* / border: 1px solid #063164 !important;  */
  height: 40vh;
}

.ck.ck-toolbar {
  border: none;
}

.ck-editor__editable_inline {
  height: 100%;
  border: 1px solid #063164 !important; 
  outline: none !important;
  border-top: 0;
}

.ck-focused {
  border: 1px solid #063164 !important; 
  outline: none !important;
  border-top: 0;
}


.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.css-fsslew-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 48px !important;
  border-color: red !important;
}