.error-helper-text{
    font-size: 17px !important;
    margin-right: auto !important;
    display: contents !important;
}

/* 1680 */
@media (max-width: 1700px) {
}

/* 1500 */
@media (max-width: 1680px) {
}

/* 1440 */
@media (max-width: 1449px) {
}

/* 1280 */
@media (max-width: 1439px) {
}

/* 992 */
@media (max-width: 1279px) {
}
/* 992 */
@media (max-width: 1228px) {
 
}

/* 768 */
@media (max-width: 991px) {
  .hiren{
    display: none !important;
  }
  .navbar-setting{
    display: block !important;
}
.navbar-setting.dropdown-menu {
    width: 105% !important;
    margin-left: -12px;
    margin-top: 10px;
}
.product-service-table{
    width: 100%;
}
.settingsidebar-super{
    display: none !important;
}
.product-services-content{
    width: 100% !important;
}
.addproductbutton{
    width: 200px !important;
}
.add_product-service{
    white-space: nowrap;
}

}

/* 576 */
@media (max-width: 767px) {
   
}

/* 525 */
@media (max-width: 575px) {
    .product-service-p{
        flex-direction: column;
    }
    .prodeuct_table{
        margin-right: auto !important;
    }
    .search_box{
        margin-left: auto;
        width: 68%;
    }
}

/* 480 */
@media (max-width: 524px) {
    .produc{
        font-size: 16px;
        margin-top: 5px;
    }
    .productservicesearch{
        margin-left: 20px !important;
    }
 
}

/* 425 */
@media (max-width: 479px) {
    .produc{
        font-size: 14px;
        margin-top: 5px;
    }
    .productservicesearch{
        margin-left: 20px !important;
    }
}

/* 375 */
@media (max-width: 424px) {
    .produc{
        font-size: 14px;
        margin-top: 5px;
    }
}

/* 320 */
@media (max-width: 374px) {
    .produc{
        font-size: 14px;
        margin-top: 5px;
    }
    .productservicesearch{
        margin-left: 20px !important;
    }
    .add_product-service{
        font-size: 13px !important;
    /* width: 65% !important; */
    }
  .cancel-service{
    /* width: 100%  !important; */
    padding: 10px;
  }
  .create-service{
    width: 100% !important;
    padding: 10px;
  }
  .add-product-service{
    font-size: 15px !important;
  }
  .dd_product-service{
    width: 60% !important;
  }
}

/* 280 */
@media (max-width: 319px) {
    .produc{
        font-size: 14px;
        margin-top: 5px;
    }
    .productservicesearch{
        margin-left: 20px !important;
    }
}

.superadmin-companyy .CostPerUnit{
    height: 20px !important;
}
.superadmin-companyy .CostPerUnit{
height: 20px !important;
}
