.modal .modal-dialog {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.nmiKeyDetailPage {
  width: 100% !important;
}

.active_inactive-model.modelbox.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100px;
  height: 47px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #25ad22;
}

.active_inactive-model
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 420px;
}

.inputBorder {
  border: 2px solid red;
}
.active_acc {
  width: 100%;
  max-width: none;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #06316480;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px;
  outline: none;
  opacity: 1;
  box-sizing: border-box;
}

.active_acc:focus {
  border-color: #063164;
  box-shadow: 0 0 4px rgba(6, 49, 100, 0.5);
}

.submit_btn {
  width: 100%;
  height: 47px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #063164;
  color: white;
  border: none;
}

.dis_box {
  display: flex;
  gap: 3%;
}

.div_btn {
  margin-top: 6%;
}

.true_sign_btn {
  margin-left: 74%;
  margin-top: -44%;
}

.active-btn_inacttive {
  width: 185px;
  height: 47px;
  border-radius: 4px;
  background: white;
  color: #25ad22;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #25ad22;
}

.incttive-btn_inac_sec {
  width: 185px;
  height: 47px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #d12913;
  background: #d12913;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.cancel_icon {
  justify-content: end;
  display: flex;
  margin-bottom: 4%;
}

.line-height {
  width: 100%;
}

@media (max-width: 3000px) {
  .comanydetailcompanytable {
    width: 35% !important;
  }
}

/* / 1680 / */
@media (max-width: 1700px) {
}

/* / 1500 / */
@media (max-width: 1680px) {
}

/* / 1440 / */
@media (max-width: 1449px) {
}

/* / 1280 / */
@media (max-width: 1439px) {
}

/* / 992 / */
@media (max-width: 1279px) {
  .company-table-head {
    white-space: nowrap;
  }

  .d-flex.gap-4.companyDetailNmiKeysDetail {
    flex-direction: column !important;
    width: 100% !important;
  }

  .nmiKeyDetailPage {
    width: 100% !important;
  }
}

@media (max-width: 1181px) {
  .comanydetailcompanytable {
    width: 50% !important;
  }

  .nmiKeyDetailPage {
    width: 79% !important;
  }
}

/* / 768 / */
@media (max-width: 991px) {
  .activebtnfont {
    font-size: 14px !important;
  }

  .head-text {
    font-size: 16px !important;
  }

  .active_inactive-model.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 100% !important;
  }

  .active_inactive-model
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 100% !important;
  }

  .superadmin-company {
    margin-bottom: 12px;
  }

  .superadmin-company .MuiGrid-root.MuiGrid-item.mb-3.css-13i4rnv-MuiGrid-root {
    margin-bottom: 12px;
  }
}

/* / 576 / */
@media (max-width: 767px) {
  .head-text {
    font-size: 18px !important;
  }

  .host_port_mial_head {
    overflow-x: auto !important;
  }

  .mailConfigModelOpen {
    overflow-x: auto !important;
    min-width: 600px !important;
  }

  .mailPostPort {
    overflow-x: auto !important;
  }

  .scrollFortheReposnsive {
    overflow-x: auto !important;
    min-width: 600px !important;
  }

  .closeMailCOnfigurationModel {
    margin-top: -11px !important;
  }

  .superadmin-company .MuiGrid-root.MuiGrid-item.mb-3.css-13i4rnv-MuiGrid-root {
    margin-bottom: 12px !important;
  }
}

/* / 525 / */
@media (max-width: 575px) {
  .header-text {
    font-size: 8px !important;
  }

  .head-text {
    font-size: 17px !important;
  }

  .title_search-bar {
    flex-direction: column;
  }

  .company-title {
    margin-right: auto;
  }

  .search-company {
    margin-left: auto;
    width: 65%;
  }
}

/* / 480 / */
@media (max-width: 524px) {
  .header-text {
    font-size: 8px !important;
  }

  .Active-inactive-button {
    flex-direction: column !important;
  }
}

/* / 425 / */
@media (max-width: 479px) {
  .header-text {
    font-size: 8px !important;
  }

  .Active-inactive-button {
    flex-direction: column !important;
  }

  .active_both {
    flex-direction: column;
    width: 67% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .active-btn {
    width: 100% !important;
  }

  .inactive-btn {
    width: 100% !important;
    margin-top: 6% !important;
  }

  .true_sign_btn {
    display: none !important;
  }

  .dis_box {
    margin-top: 10px !important;
  }
}

/* / 375 / */
@media (max-width: 424px) {
  .industry.activebtnfont {
    height: 40px !important;
  }
  .css-mhc70k-MuiGrid-root > .MuiGrid-item {
    padding-top: 0 !important;
  }

  .companysearch {
    margin-left: 20px !important;
  }
  .submit_btn{
    margin-top: 10px !important;
  }
}

/* / 320 / */
@media (max-width: 374px) {
  .industry.activebtnfont {
    font-size: 14px !important;
  }

  .industry.placeholder-text {
    font-size: 10px !important;
  }

  .companysearch {
    margin-left: 20px !important;
  }

  .save-mail-btn {
    /* width: 40% !important; */
    font-size: 15px !important;
  }

  .radio-input {
    width: 15px !important;
    height: 15px !important;
  }

  .addCustomerBtn {
    font-size: 15px !important;
  }

  .hostPortRadioBtn {
    flex-direction: column !important;
  }

  .mailPostPort {
    width: 100% !important;
  }

  .companyPlanSearch {
    width: 100% !important;
  }
}

.addCustomerBtn {
  background-color: white !important;
  /* color: black !important; */
}

/* / 280 / */
@media (max-width: 319px) {
  .compn {
    font-size: 18px;
    margin-top: 5px;
  }

  .companysearch {
    margin-left: 20px !important;
  }

  .zip {
    margin-top: 0px !important;
  }

  .fontSizeSmallSuperadminlabel {
    font-size: 13px !important;
  }
}

.cancel-btn {
  background-color: #f0f0f0;
  margin-right: 10px;
}

.save-btn {
  background-color: rgba(6, 49, 100, 1);
  color: white;
}

/* 5150 start  */

.superadmin-company input[type="text"],
select {
  /* padding: 8px !important; */
}

/* 5150 end  */
@media (max-width: 575px) {
  .your-row-class {
    font-size: 0.85rem;
    /* Reduce font size */
    padding: 0.3rem;
    /* Adjust padding for smaller screens */
  }

  .host_port_mial_head {
    /* width: 100% !important; */
  }

  .host-back {
    padding: 11px;
    font-size: 11px !important;
  }
}

.nmiKeyDetailPage {
  flex-direction: column !important;
  width: 80% !important;
}

.companyDetailNmiKeysDetail {
  width: 70%;
}

label#ownerName-label {
  margin-top: 5px;
}

label#phoneNumber-label {
  margin-top: 5px;
}

label#EmailAddress-label {
  margin-top: 1px;
}

label#CompanyName-label {
  margin-top: 5px;
}
