/* ---------------------------------------------------------------------------------- */
.service-input::placeholder {
    color: red !important;
}

.container-fluid {
    padding: 0 !important;
}
.addProdyuctBtn{
    height: 40px;
    margin-top: 3%;
}
/* 768 */
@media (max-width: 1980px) {
    .navbar-setting {
        display: none !important;
    }
}

/* 1680 */
@media (max-width: 1700px) {
    .navbar-setting {
        display: none !important;
    }

}


/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

/* 992 */
@media (max-width: 1228px) {

    .sidebar {}

    .product-service-table {
        columns: 1;
    }

    .product-service-table {
        width: 85%;
    }

}

/* 5150 start  */
/* 768 */
@media (max-width: 991px) {
    .navbar-setting {
        display: block !important;
    }

    .navbar-setting.dropdown-menu {
        width: 105% !important;
        margin-left: -12px;
        margin-top: 10px;
    }

    .product-service-table {
        width: 100%;
    }

    .divider-productsandservices {
        display: none !important;
    }

    .back-color {
        background-color: rgb(6, 49, 100) !important;
    }

    .backgroundColor {
        background-color: black;
    }

    .productServiceBar {
        flex-direction: column;
    }

    .settingProductService {
        margin-right: auto;
    }

    .settingSearch {
        margin-left: auto;
        /* width: 80% !important; */
    }

    .addProductServiceSideLine {
        border-left: none !important;
    }
}

/* 576 */
@media (max-width: 767px) {
    .productFormName {
        margin-top: 4px !important;
    }

    .settingProductService {
        flex-direction: column !important;
    }

    .settingProductServiceGaps {
        margin-bottom: -7px !important;
        width: 89% !important;
    }

    .settingProfileSetting {
        z-index: 9 !important;
    }

    .settingsidebardrop {
        z-index: 999 !important;
    }

    .setting-dropdown {
        z-index: 9 !important;
    }

    .backgroundBlurBtn {
        white-space: nowrap !important;
    }
}

/* 525 */
@media (max-width: 575px) {
    .productServiceHeadFont {
        font-size: 23px !important;
    }

    .productDetaillTable {
        margin-bottom: 30px !important;
    }

}

/* 480 */
@media (max-width: 524px) {
    /* .text-capitalize{
        width: auto !important;
        height: auto !important;
    } */
}

/* 425 */
@media (max-width: 479px) {
    .cost-input {
        flex-direction: column;
        gap: 10px;
    }

    .cost-input .col-4 {
        width: 100% !important;
    }

    .cost-input .col-3 {
        width: 100% !important;
    }
}

/* 375 */
@media (max-width: 424px) {
    .text-size {
        font-size: 19px !important;
    }
    .productFormName {
        margin-top: 4px !important;
    }
}

/* 320 */
@media (max-width: 374px) {
    .text-size {
        font-size: 17px !important;
    }

    .settingSettingAddproSer {
        flex-direction: column !important;
    }

    .adminSettingAddProServicebutton.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.text-capitalize.bg-blue-color.adminSettingAddProService.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        width: 100% !important;
        padding: 10px !important;
    }

    .addproduCtBtnHere {
        /* margin-right: auto !important; */
    }

    .gapFormBtn {
        gap: 10px !important;
    }

    .addproduCtBtnHere {
        margin-right: auto !important;
    }

    .settingProductServiceGaps {
        width: 100% !important;
    }
    .productFormName {
        margin-top: 4px !important;
    }
    .qty{
        margin-bottom: 0 !important;
    }
    .productBtnNavigate{
        flex-direction: column !important;
    }
}

/* 280 */
@media (max-width: 319px) {
    .text-size {
        font-size: 15px !important;
    }
    .productFormName {
        margin-top: 37px !important;
    }
    .file-upload{
        margin-top: 40px !important;
    }

    /* .text-capitalize{
        width:80% !important ;
        padding: 0px !important;
        font-size: 12px !important;
    } */
    .productDetaillTable {
        margin-bottom: 40px !important;
    }
}


@media only screen and (max-width: 991px) {
    .settingsidebardrop {
        display: block !important;
        background-color: rgb(6, 49, 100);
        color: white;
        border: none;
        border-radius: 10px;
        margin: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .settingsidebardrop {
        display: none !important;
    }
}

.css-1jhmj8p-MuiFormControl-root-MuiTextField-root {
    line-height: 14px !important;
}

/* 5150 end  */