@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", "sans-sarif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #f4f2f2;
  --primary-color-light: #f4f2f2;
  --toggle-color: #ddd;
  --text-color: #ffffff;
  --dark-color: #000;

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-04: all 0.5s ease;
  --bg-blue-color: #063164;
  --text-white-color: #ffffff;
  --bg-white-color: #ffffff;
  --text-orange-color: #e88c44;
  --text-blue-color: #063164;
  --bg-orange-color: #e88c44;
  --border-orange-color: #e88c44;
  --border-blue-color: #063164;
  --border-white-color: #ffffff;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--trans-02);
}

body.dark {
  --body-color: #181914;
  --sidebar-color: #242526;
  --primary-color: #34383c;
  --primary-color-light: #383a3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --dark-color: #fff;
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  white-space: unset;
  opacity: x 1;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.SidebarSmallloos {
  display: block;
}

.SidebarBigLogos {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 240px;
  padding: 31px 0 31px 0;
  transition: var(--trans-02);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 999;
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .main {
  font-weight: 600;
}

.header-text .sub {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #000;
  font-size: 22px;
  border: 1px solid black;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icons,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--trans-03);
}

.sidebar .search-bar input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color-light);
}

.sidebar .search-bar {
  background-color: var(--primary-color-light);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 50px;
  border-radius: 6px;
  transition: var(--trans-04);
  text-align: left;
}

.sidebar li a:active {
  background: #000 !important;
}

.sidebar .menu-bar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.sidebar .my-logo {
  width: 95% !important;
  padding: auto 10px !important;
  display: flex;
  justify-content: start;
  padding-left: 17px;
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--trans-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: -10px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  background: var(--primary-color-light);
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  background-color: var(--toggle-color);
  border-radius: 25px;
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
}

body.dark .switch::before {
  left: 25px;
}

body.dark .sidebar .image img {
  background-color: #fff;
}

.sidebar.close {
  width: 85px;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar.close .search-bar {
  background-color: var(--sidebar-color);
}

body.dark .search-bar input {
  color: white;
}

.sidebar.close .toggle {
  transform: translateY(-50%);
}

.my-collapse {
  display: block;
}
@media (max-width: 1564px) 

{
.sideBarEmailLeft{
  margin-left: 5px !important;
}
}
@media (max-width: 767px) {
  .my-collapse {
    display: none;
  }

  .xreate-button {
    margin-bottom: 0px !important;
  }

  .open-close {
    display: none !important;
  }

  .Right-arrowww {
    margin-top: -3px !important;
  }

  .dropdownBottom {
    margin-top: 25px !important;
  }

  .dropdownBotton {
    margin-bottom: 0px !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .xreate-button {
    margin-bottom: 0px !important;
  }

  .sidebar li {
    margin-top: 43px !important;
  }

  .Right-arrowww {
    position: relative;
    top: 38px;
    margin-top: 0px !important;
  }

  .drop-down-btn {
    margin-bottom: -65px;
  }
}

.xreate-button {
  background: transparent !important;
  border: none !important;
  margin-bottom: 0;
  position: relative;
  top: 15px;
}

.popover {
  --bs-popover-max-width: 385px !important;
  border: 1px solid #e88c44 !important;
  --bs-popover-border-color: #e88c44 !important;
  background-color: rgb(243, 229, 217);
  --bs-popover-bg: rgb(243, 229, 217) !important;
}