
   .chartContainer  path {
    fill: transparent !important;
    stroke: none !important;
  }

/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {
.active_deactive.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.bg-orange-color.active_deactive.css-16wdwr3-MuiPaper-root{
    width: 100% !important;
}
.plan_company.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.plan_company.bg-blue-color.planBoxSuperaAdmin.plan_company.css-1au5dzp-MuiPaper-root
{
    width: 100% !important;
}
}
@media (max-width: 789px) {
 .active_box{
    margin-right: 0px !important;
 }   
}
/* 768 */
@media (max-width: 991px) {
    .plan-company-graph{
        flex-direction: column !important;
    }
    .staffmemberTopMargin{
        margin-top: 10px !important;
    }
}

/* 576 */
@media (max-width: 767px) {
    .plan-company-graph{
        margin-left: 0.5% !important;
    }
    .superAdminCompany{
        flex-direction: column !important;
    }
    .planBoxSuperaAdmin{
        width: 100% !important;
    }
    .appointmentSearchInput{
        margin-left: auto !important;
    }
    .graphRemovePadding{
        padding-right: 0px !important;
        padding-left: 1rem !important;
    }
}

/* 525 */
@media (max-width: 575px) {
    .plan-company,.active_deactive-graph{
        flex-direction: column;
    }
    .inactive-para{
        margin-left: 3% !important;
    }
    
}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {}

/* 280 */
@media (max-width: 319px) {
    .inactive-para{
        font-size: 13px !important;
        white-space: nowrap;
    }
    .active-graph{
        font-size: 13px !important;
        white-space: nowrap;
    }
}
