
.backgroundColor-table{
  background-color: #e88c44 !important;
}
.invoiceTable-heade{
  color: white !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.accordingHeaderPadd.button.accordion-button.collapsed {
  padding: 0px !important;
}

.marginFOrTHe{
  width: 100% !important;
}

button.accordion-button.collapsed {
  padding: 0px !important;
}

.accordion-body {
  padding: 0px !important;
}

.label-paid {
  display: none;
}

.cancelBtnButtonColor {
  border: 2px solid #063164;
}

.bg-label-paid {
  position: relative;
  background-color: transparent !important;
  z-index: 1;
}

.bg-label-paid .label-paid {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: -1;
  color: #83f7bfb4;
  font-size: 120px;
  font-weight: 600;
  transform: rotate(-40deg);
}

/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {
  .invoice-first {
    flex-direction: column;
  }

  .invoice-first .col-lg-6 {
    width: 100%;
  }
.Payment-main{
  flex-direction: column !important;
}
.payment-section{
  width: 100%;
}
  .second-section-invoice h4 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .hr-invoice {
    display: none;
  }

  .first-invoice {
    padding: 5px;
  }

  .invoice-name {
    font-size: 20px;
  }

  .customer_detailPaid {
    width: 100% !important;
  }
}

/* 768 */
@media (max-width: 991px) {
  .hiren {
    display: none !important;
  }

  .titleAdress {
    margin-top: 20px !important;
  }
}

/* 576 */
@media (max-width: 767px) {
  .subject-invoice {
    margin-top: 30px !important;
  }
  .payment-section-last{
    display: none !important;
  }

  .invoice-form-group {
    margin-top: 40px;
  }

  .paymentApplied_amout.MuiFormControl-root.MuiTextField-root.text-blue-color.w-100.m-0.mb-3.paymentApplied_amout.css-odsttg-MuiFormControl-root-MuiTextField-root {
    margin-top: 40px !important;
  }

  .paymentApplied_paymentDate {
    /* margin-top: 40px !important; */
  }

  .invoiceCancelSave_Btn {
    margin-bottom: 35px !important;
  }

  .mailSendToBtn {
    width: 72% !important;
  }

  .cancel_emailReceipt_save {
    margin-top: 50px !important;
  }

  .invoiceChoiceImg.invoice-header.invoiceChoiceImg.card-header {
    font-size: 767 !important;
  }

  .paymentApplied_amout {
    /* margin-top: 40px !important; */
  }
}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {
  .payment-header{
    flex-direction: column !important;
  }
  .payment-header-sub{
    width: 100% !important;
    align-items: start !important;
    text-align: left !important;
  }
}

/* 425 */
@media (max-width: 479px) {
  .cancel_emailReceipt_save {
    flex-direction: column !important;
    justify-content: left !important;
  }
  .payment-third{
    width: 100% !important;
  }
  .payment-fourth{
    width: 100% !important;

  }

  button.footer-buttons.outline-button-blue-color.backgroundWhiteBtn.cancelBtnInVoicce.eui.btn.btn-secondary {
    width: 100% !important;
}
.saveEmail_savePay {
  width: 100% !important;
}
.cancelinvoiceGrid{
  width: 100% !important;
}
.svaeBtnInVoicce{
  margin-top: 18px !important;
}
  .saveEmail_savePay {
    flex-direction: column !important;
  }
}

/* 375 */
@media (max-width: 424px) {
  .first-button {
    flex-direction: column;
  }

  .first-button button {
    width: 8% !important;
  }

  .second-content-section {
    flex-direction: column;
    gap: 0 !important;
  }

  .second-content-section .col-4 {
    width: 100%;
  }

  .second-content-section .col-4 input {
    font-size: 12px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .second-content-section .col-4 button {
    font-size: 12px !important;
    height: 33px !important;
  }

  .second-content-section .col-2 {
    width: 100%;
    font-size: 12px !important;
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
  }

  .invoice-date {
    flex-direction: column;
  }

  .invoice-date .mx-4 {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .Payment {
    margin-left: 0 !important;
    flex-direction: column;
  }

  .paymentDue {
    margin-right: 20px !important;
  }

  .cancel_emailReceipt_save,
  .saveEmail_savePay {
    flex-direction: column;
  }

  .saveEmail_savePay {
    /* margin-top: 18px; */
  }
}

/* 320 */
@media (max-width: 374px) {
  .cancelPayment {
    margin-top: 11px;
  }

  .invoiceBtnGap {
    gap: 10px !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .invoiceChoiceImg {
    font-size: 15px !important;
  }
}

.invoice-header {
  color: "rgba(6, 49, 100, 1)";
  font-size: 30px !important;
  font-weight: 800;
  color: #063164 !important;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row.main {
  display: flex;
  justify-content: start;
}

.col-left {
  flex: 3;
  text-align: left;
}

.col-right {
  flex: 1;
  text-align: right;
  margin-top: 10px;
}

.invoice h3 {
  color: #1a2b5b;
  font-weight: 700;
}

.form-group {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #063164;
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

input#issuedDate {
  width: auto;
}

input[type="text"],
select {
  padding: 13px;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
}

.btn-cancel {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #063164;
  border-radius: 5px;
  color: #063164;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #f0f0f0;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.btn-custom-field {
  padding: 10px 20px;
  background-color: #063164;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-custom-field:hover {
  background-color: #003366;
}

a {
  color: #063164;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.InputDate {
  width: 80px !important;
  margin-left: 30px !important;
  border: 1px solid #063164 !important;
}

.paymentDue {
  border: 1px solid #063164;
}

.sales {
  margin-left: 27px !important;
  width: 50px !important;
  padding: 5px 0px;
  background-color: #fff;
  border: 1px solid #063164;
  border-radius: 5px;
  color: #063164;
  cursor: pointer;
}

.titleAdress {
  font-size: 15px !important;
}

.subAddress {
  font-size: 15px !important;
}

.invoice-table td {
  font-weight: 600;
  color: #063164;
}

.head {
  font-size: 16px;
  font-weight: 600;
}

/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

/* 768 */
@media (max-width: 991px) {}

/* 576 */
@media (max-width: 767px) {
  .paymentAppliedSlip {
    margin-left: -18px !important;
  }

  .leftSideMargin {
    margin-left: 0.5rem !important;
  }
}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {
  .emailDragFileCopy {
    flex-direction: column !important;
    gap: 10px !important;

  }

  .fileUploadInmaimBox {
    height: 80px !important;
  }

  .drafFileBoxMail {
    margin-top: 11px !important;
  }

  .updateSaveBtnNaviGate {
    flex-direction: column !important;
  }

  button.footer-buttons.outline-button-blue-color.backgroundWhiteBtn.btn.btn-secondary {
    /* width: 100%; */
  }

  .MuiFormControl-root.MuiTextField-root.mb-0.border-blue-color.totalNumber.cost_input.css-12o0ghv-MuiFormControl-root-MuiTextField-root {
    width: 100%;
  }
}

/* 320 */
@media (max-width: 374px) {}

/* 280 */
@media (max-width: 319px) {
  .checkNumberInputPayment {
    margin-top: 40px !important;
  }

  .paymentDateBottmSetHera {
    margin-bottom: -10px !important;
  }

  .invoiceFontSize {
    font-size: 22px !important;
  }
}

@media (max-width: 287px) {}

