.css-1ex1afd-MuiTableCell-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.industry .css-xg6i6p-MuiPaper-root {
  /* border: 1px solid #fff !important; */
  color: #fff !important;
}

.css-yz9k0d-MuiInputBase-input::placeholder {
  color: #fff !important;
  opacity: 10 !important;
}

.css-yz9k0d-MuiInputBase-input {
  color: white !important;
}

.css-1ygcj2i-MuiTableCell-root {
  padding: 6px 6px 6px 30px !important;
}
.css-1ex1afd-MuiTableCell-root {
  padding: 10px 0px 0px 31px !important;
}


@media (max-width: 479px) {
  
}

/* 375 */
@media (max-width: 424px) {
  .industrysearch {
    margin-left: 20px !important;
  }
}
/* 320 */
@media (max-width: 374px) {
  .industrysearch {
    margin-left: 20px !important;
  }
}
/* 280 */
@media (max-width: 319px) {
  .industr {
    font-size: 19px;
    margin-top: 9px;
  }
  .industrysearch {
    margin-left: 20px !important;
  }
}