/* 1680 */
@media (max-width: 1700px) {
  
}
.MinwidthPersantage{
    min-width: 100% !important;
}
/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {
    .scrollDetailHere{
        min-width: 600px !important;
    }
  
    .overflowWidth{
        overflow-x: auto !important;
    }
}
.statusHead{
    background-color: #063164 !important;
    color: white !important;
}
/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

/* 768 */
@media (max-width: 991px) {}

/* 576 */
@media (max-width: 767px) {}

/* 525 */
@media (max-width: 575px) {}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {
    .customerContractDetail{
        flex-direction: column;
    }
    .customerContractNumber{
        margin-right: auto;
    }
    .download-sec{
        flex-direction: column;
        gap: 6px !important;
        
    }
}

/* 280 */
@media (max-width: 319px) {}
