/* 1680 */
@media (max-width: 1700px) {}

/* 1500 */
@media (max-width: 1680px) {}

/* 1440 */
@media (max-width: 1449px) {}

/* 1280 */
@media (max-width: 1439px) {}

/* 992 */
@media (max-width: 1279px) {}

/* 768 */
@media (max-width: 991px) {}

/* 576 */
@media (max-width: 767px) {}

/* 525 */
@media (max-width: 575px) {
    .modelWidthFive{
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .flexColumnWidth{
        flex-direction: column !important;
        gap: 0px !important;
    }
    .recurrinPaymentAmmounts{
        flex-direction: column !important;
    }
    .amountTotalMOedel{
        padding-left: 0 !important;
    }
    .bottomLeaveup{
        margin-bottom: 0 !important;
    }
    .amountMargin{
        margin-top: 0px !important;
    }
    .paymnet-width{
        width: 100% !important;
    }
    .frequrncy-monthWeek{
        flex-direction:  column !important;
    }
    .remove-left{
        margin-left: 0px !important;
    }
    .padding-leftremove{
        padding-left: 0px !important;
    }
    .textalign-start{
        text-align: start !important;
    }
    .width-with-reponsive{
        width: 100% !important;
    }
}

/* 480 */
@media (max-width: 524px) {}

/* 425 */
@media (max-width: 479px) {
    .foterAmountBtm{
        flex-direction: column !important;
        margin-right: auto !important;
        align-items: start !important;
    }
}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {
    .BtnGropupFooter{
        display: flex !important;
        flex-direction: column !important;
        gap: 5px !important;
        width: 100% !important;
    }
}

/* 280 */
@media (max-width: 319px) {}

.css-5ona3t-MuiFormControl-root-MuiTextField-root .MuiInputBase-input{
    text-align: left !important;
}